div{
    background-color: #FFFDD0;
    font-family: 'Inter', sans-serif;
    
    

}

body{
    background-color: #FFFDD0;
    background-color: inherit;
    height: 100%;
    
    
}

h1{
    text-align:  center;
    padding-top: 10%;
    background-color: #FFFDD0;
    
}
h4{
    text-align:  center;
    padding-left: 7.4%;
    
    background-color: #FFFDD0;

}

h5{
    text-align: left;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-top: 20%;

}

.img{
    padding-left: 20%;
}