div{
    background-color: #FFFDD0;
    font-family: 'Inter', sans-serif;
    
    

}
body{
    background-color: #FFFDD0;
    background-color: inherit;
    height: 100%;
    
    
}
#header{
    text-align:  center;
    padding-top: 5%;
    background-color: #FFFDD0;
    font-size: 30px;
    
    
}
h5{
    text-align:  left;
    
    
    background-color: #FFFDD0;

}
.link-styles1{
    font-family: 'Inter', sans-serif;
    text-align:  right;
    padding-top: 15%;
    padding-right: 20%;
    font-size: 25px;
    padding-left: 30%;
    
    

}

#dropdown{
    text-align:  center;
    font-size: 10px;
    padding-left: 2%;
    padding-top: 5%;
    width: 70%;

}

#myLabel{
    text-align:  center;
    font-size: 25px;
    padding-left: 30%;
    padding-top: 5%;


}
#button{
  padding-top: 8%;
  text-align: center;
  font-size: 15px;
  padding-bottom: 6%;

}
#register{
    padding-top: 7%;
    padding-left: 25%;

}
input:focus + label {
    color:#2F4F4F;
  }

#header1{
    padding-right: 25%;
    padding-bottom: 7%;
    padding-top: 7%;
}
#title{
    font-size: 15px;

}
.btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 40vh;
  }

